[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jl/Desktop/inkscape.desktop]
row=3
col=0

[/home/jl/Desktop/simiserver_1.desktop]
row=8
col=0

[/home/jl/Desktop/mousepad.desktop]
row=5
col=0

[/home/jl/Desktop/vlc.desktop]
row=2
col=0

[/home/jl/Desktop/chromium.desktop]
row=0
col=0

[/home/jl/Desktop/exo-terminal-emulator.desktop]
row=1
col=0

[/home/jl/Desktop/PresentationTesis.pptx]
row=0
col=1

[/home/jl/Desktop/gimp.desktop]
row=4
col=0

[/home/jl/Desktop/firefox.desktop]
row=7
col=0

[/home/jl/Desktop/thunar-settings.desktop]
row=6
col=0

